.rocks {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    /* background-color: #ffffff; */
}

.rocks div {
    margin: 10px 0;
}

#fullSizeImgView {
    margin: 0;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(50, 50, 50, 0.90);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fullSizeImgView img {
    width: 75vw;
}
