.rocks {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    /* background-color: #ffffff; */
}

.rocks-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

#fullSizeImgView {
    margin: 0;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(50, 50, 50, 0.80);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fullSizeImgView img {
    height: 95vh;
}

@media screen and (max-width: 700px) {
    .rocks-grid {
        grid-template-columns: repeat(1, 100%);
    }
}
