.tweetgen {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tweetgen__props {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    margin-bottom: 20px;
}

.tweetgen__props-n {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.tweetgen__props-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    font-weight: bold;
}

.tweetgen__props div input {
    width: 70px;
}

.tweetgen__props-info {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tweetgen__btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.tweetgen button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 200px;
    background-color: var(--blue-primary);
    border: none;
    border-radius: 10px;
}

.tweetgen__users {
    
}

.tweetgen__users-user {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tweetgen__users-user img {
    height: 50px;
    width: 50px;
    margin-right: 20px;
    border-radius: 25px;
}

.tweetgen__users-user input {
    height: 30px;
    width: 50%;
    margin-right: 20px;
}

.tweetgen__users-user input[type=number] {
    height: 30px;
    width: 50px;
    margin-right: 20px;
}

.tweetgen__users-user button {
    display: inline;
    height: 30px;
    width: 30px;
}

.tweetgen__loading {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.tweetgen__tweets {

}
