.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    padding: 2rem 6rem;
}

.navbar__links-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.navbar__links-container p,
.navbar__menu-container p {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.navbar__menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.navbar__menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    
    text-align: end;
    /* background: var(--color-footer); */
    background: red;
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}

.navbar__menu-container p {
    margin: 1rem 0;
}

@media screen and (max-width: 700px) {
    .navbar {
        padding: 2rem 4rem;
    }
    .navbar__links-container {
        display: none;
    }

    .navbar__menu {
        display: flex;
    }
}

@media screen and (max-width: 550px) {
    .navbar {
        padding: 2rem;
    }

    .navbar__menu-container {
        top: 20px;
    }
}
